# Backend
NODE_ENV=production
PORT=3000

# Base de datos
MONGO_DB_NAME=posts-comments-db

# Seguridad
JWT_SECRET=cambia-este-secreto-en-produccion

# Panel de administración de MongoDB (Mongo Express)
MONGO_ADMIN_USER=admin
MONGO_ADMIN_PASSWORD=admin123
